Cr√©ation dataset final

In [1]:
# Import necessary libraries
import pandas as pd

# Load the dataset
file_path = r"C:\Users\David\Documents\Albert school\Carmila alberton\Data for the CARMILA challenge\merged_data4.csv"
df = pd.read_csv(file_path)

In [2]:
df.head()

,Jour,heure,Site,Zone,Entr√©es,Code ensemble immobilier,Mall ID,Ann√©e,Mois,heure_num,...,OE_2024-12-26,OE_2024-08-15,Centre,H_Lundi,H_Mardi,H_Mercredi,H_Jeudi,H_Vendredi,H_Samedi,H_Dimanche
0,2023-01-01,00:00 - 00:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,0.0,...,0,0,Centre commercial Carrefour Antibes,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,NaN
1,2023-01-01,01:00 - 01:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,1.0,...,0,0,Centre commercial Carrefour Antibes,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,NaN
2,2023-01-01,02:00 - 02:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,2.0,...,0,0,Centre commercial Carrefour Antibes,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,NaN
3,2023-01-01,03:00 - 03:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,3.0,...,0,0,Centre commercial Carrefour Antibes,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,NaN
4,2023-01-01,04:00 - 04:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,4.0,...,0,0,Centre commercial Carrefour Antibes,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,09:00-19:30,NaN

In [3]:
df.columns

Index(['Jour', 'heure', 'Site', 'Zone', 'Entr√©es', 'Code ensemble immobilier',
       'Mall ID', 'Ann√©e', 'Mois', 'heure_num', 'jour_semaine', 'mois',
       'annee', 'GLA centre (hyper + galerie+ mail) GI',
       'GLA boutiques (hors mail - GI)',
       'Nombre places de parking (Assetbook)',
       'Nombre de boutiques (hors hyper)', 'ALIMENTATION', 'EQ DE LA PERSONNE',
       'EQ DE LA MAISON', 'LOISIRS', 'RESTAURATION', 'SERVICES', 'DIVERS',
       'Centre_x', 'Clef Hyper Carrefour_x', 'FE_2024-11-01', 'FE_2024-12-25',
       'FE_2024-12-22', 'FE_2024-11-24', 'FE_2024-07-28', 'FE_2024-06-30',
       'FE_2025-01-01', 'FE_2024-08-04', 'FE_2024-07-14', 'FE_2024-12-01',
       'FE_2024-12-29', 'FE_2024-08-11', 'FE_2024-12-08', 'FE_2025-01-05',
       'FE_2024-09-01', 'FE_2025-05-01', 'FE_2025-12-25', 'Centre_y',
       'Clef Hyper Carrefour_y', 'OE_2024-11-01', 'OE_2024-11-11',
       'OE_2024-12-01', 'OE_2024-12-08', 'OE_2024-12-15', 'OE_2024-12-22',
       'OE_2024-12-24', 'OE_2024-12-29', 'OE_2024-12-31', 'OE_2025-01-12',
       'OE_2025-04-21', 'OE_2025-05-08', 'OE_2024-05-29', 'OE_2025-06-09',
       'OE_2025-07-14', 'OE_2025-08-15', 'OE_2025-11-01', 'OE_2025-11-11',
       'OE_2025-11-30', 'OE_2025-12-07', 'OE_2025-12-14', 'OE_2025-12-21',
       'OE_2025-12-28', 'OE_2024-12-26', 'OE_2024-08-15', 'Centre', 'H_Lundi',
       'H_Mardi', 'H_Mercredi', 'H_Jeudi', 'H_Vendredi', 'H_Samedi',
       'H_Dimanche'],
      dtype='object')

In [5]:
# ===============================================
# 1. Importation des biblioth√®ques et installation si n√©cessaire
# ===============================================
import pandas as pd
import numpy as np
import datetime
import requests
from bs4 import BeautifulSoup
import json
import warnings
warnings.filterwarnings('ignore')

In [7]:
from neuralforecast import NeuralForecast
from neuralforecast.models import NBEATS

2025-02-01 17:48:53,419	INFO util.py:154 -- Outdated packages:
  ipywidgets==7.6.5 found, needs ipywidgets>=8
Run `pip install -U ipywidgets`, then restart the notebook server for rich notebook output.
2025-02-01 17:48:53,862	INFO util.py:154 -- Outdated packages:
  ipywidgets==7.6.5 found, needs ipywidgets>=8
Run `pip install -U ipywidgets`, then restart the notebook server for rich notebook output.

In [9]:
# Remplacez 'votre_dataset.csv' par le chemin de votre fichier
df = pd.read_csv(file_path, parse_dates=['Jour'])

# Affichage rapide pour v√©rification
print("Dimensions du dataset initial :", df.shape)
print("Colonnes :", df.columns.tolist())

Dimensions du dataset initial : (175440, 78)
Colonnes : ['Jour', 'heure', 'Site', 'Zone', 'Entr√©es', 'Code ensemble immobilier', 'Mall ID', 'Ann√©e', 'Mois', 'heure_num', 'jour_semaine', 'mois', 'annee', 'GLA centre (hyper + galerie+ mail) GI', 'GLA boutiques (hors mail - GI)', 'Nombre places de parking (Assetbook)', 'Nombre de boutiques (hors hyper)', 'ALIMENTATION', 'EQ DE LA PERSONNE', 'EQ DE LA MAISON', 'LOISIRS', 'RESTAURATION', 'SERVICES', 'DIVERS', 'Centre_x', 'Clef Hyper Carrefour_x', 'FE_2024-11-01', 'FE_2024-12-25', 'FE_2024-12-22', 'FE_2024-11-24', 'FE_2024-07-28', 'FE_2024-06-30', 'FE_2025-01-01', 'FE_2024-08-04', 'FE_2024-07-14', 'FE_2024-12-01', 'FE_2024-12-29', 'FE_2024-08-11', 'FE_2024-12-08', 'FE_2025-01-05', 'FE_2024-09-01', 'FE_2025-05-01', 'FE_2025-12-25', 'Centre_y', 'Clef Hyper Carrefour_y', 'OE_2024-11-01', 'OE_2024-11-11', 'OE_2024-12-01', 'OE_2024-12-08', 'OE_2024-12-15', 'OE_2024-12-22', 'OE_2024-12-24', 'OE_2024-12-29', 'OE_2024-12-31', 'OE_2025-01-12', 'OE_2025-04-21', 'OE_2025-05-08', 'OE_2024-05-29', 'OE_2025-06-09', 'OE_2025-07-14', 'OE_2025-08-15', 'OE_2025-11-01', 'OE_2025-11-11', 'OE_2025-11-30', 'OE_2025-12-07', 'OE_2025-12-14', 'OE_2025-12-21', 'OE_2025-12-28', 'OE_2024-12-26', 'OE_2024-08-15', 'Centre', 'H_Lundi', 'H_Mardi', 'H_Mercredi', 'H_Jeudi', 'H_Vendredi', 'H_Samedi', 'H_Dimanche']

In [10]:
# --- Conversion et transformation des colonnes ---
# 2.1. Convertir la colonne 'Entr√©es' en num√©rique (si n√©cessaire)
df['Entr√©es'] = pd.to_numeric(df['Entr√©es'], errors='coerce')

In [11]:
# 2.2. Traiter la colonne 'heure'
# On part du principe que 'heure' est au format "HH:MM - HH:MM"
def extraire_heure_debut(heure_str, jour):
    try:
        debut = heure_str.split(' - ')[0]
        # Concat√©ner la date et l'heure
        return pd.to_datetime(f"{jour.date()} {debut}", format='%Y-%m-%d %H:%M')
    except Exception as e:
        return pd.NaT

In [12]:
# Cr√©er une colonne datetime 'ds' en combinant 'Jour' et 'heure'
df['ds'] = df.apply(lambda row: extraire_heure_debut(row['heure'], row['Jour']), axis=1)

# Cr√©er √©galement une colonne 'date' (sans l'heure) pour joindre les donn√©es externes
df['date'] = df['ds'].dt.floor('D')

In [13]:
# V√©rifier les conversions
print("Exemple de datetime :", df['ds'].head())

Exemple de datetime : 0   2023-01-01 00:00:00
1   2023-01-01 01:00:00
2   2023-01-01 02:00:00
3   2023-01-01 03:00:00
4   2023-01-01 04:00:00
Name: ds, dtype: datetime64[ns]

In [14]:
# ===============================================
# 3. Feature Engineering
# ===============================================
# 3.1. Cr√©ation d'indicateur d'ouverture
# On utilise les colonnes H_Lundi, H_Mardi, ‚Ä¶, H_Dimanche pour d√©finir les horaires d'ouverture
# On cr√©e une fonction qui, pour chaque ligne, d√©termine si le centre est ouvert √† l'instant 'ds'
weekday_mapping = {
    'Monday': 'H_Lundi',
    'Tuesday': 'H_Mardi',
    'Wednesday': 'H_Mercredi',
    'Thursday': 'H_Jeudi',
    'Friday': 'H_Vendredi',
    'Saturday': 'H_Samedi',
    'Sunday': 'H_Dimanche'
}

def est_ouvert(row):
    # Obtenir le jour en anglais depuis la date
    jour_en = row['ds'].strftime('%A')
    col_horaire = weekday_mapping.get(jour_en)
    horaire = row.get(col_horaire, None)
    if pd.isna(horaire) or horaire=='':
        return 0  # Ferm√© si pas d'info
    try:
        open_str, close_str = horaire.split('-')
        open_time = datetime.datetime.strptime(open_str.strip(), '%H:%M').time()
        close_time = datetime.datetime.strptime(close_str.strip(), '%H:%M').time()
        current_time = row['ds'].time()
        # Comparaison simple (attention aux horaires sur minuit, √† adapter si besoin)
        return int(open_time <= current_time <= close_time)
    except:
        return 0

# Appliquer la fonction pour chaque ligne et stocker le r√©sultat dans une nouvelle colonne
df['is_open'] = df.apply(est_ouvert, axis=1)

In [15]:
# 3.2. Extraction d'autres features temporelles utiles
df['hour'] = df['ds'].dt.hour
df['day_of_week'] = df['ds'].dt.dayofweek  # 0=Monday, 6=Sunday
df['month'] = df['ds'].dt.month

In [16]:
# 3.3. Transformation des indicateurs FE et OE en variables num√©riques (ils sont d√©j√† binaires, sinon for√ßons la conversion)
fe_cols = [col for col in df.columns if col.startswith('FE_')]
oe_cols = [col for col in df.columns if col.startswith('OE_')]
for col in fe_cols + oe_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(int)

In [26]:
import time
import requests
import datetime
import pandas as pd
import numpy as np

# ===============================================
# 1. API Functions with Timeout Handling
# ===============================================

def get_weather(lat, lon, date_str, api_key, timeout=5):
    """Fetch average temperature for a given date/location using OpenWeatherMap API."""
    try:
        dt_obj = datetime.datetime.strptime(date_str, '%Y-%m-%d').replace(hour=12)
        timestamp = int(dt_obj.timestamp())
        url = "http://api.openweathermap.org/data/2.5/onecall/timemachine"
        params = {'lat': lat, 'lon': lon, 'dt': timestamp, 'appid': api_key, 'units': 'metric'}
        response = requests.get(url, params=params, timeout=timeout)
        data = response.json()
        if 'hourly' in data:
            temps = [hour['temp'] for hour in data['hourly']]
            return np.mean(temps)
    except requests.Timeout:
        print(f"‚ö†Ô∏è Timeout: Weather API took too long for {lat}, {lon}, {date_str}")
    except Exception as e:
        print(f"‚ö†Ô∏è Weather API error for {lat}, {lon}, {date_str}: {e}")
    return np.nan

def get_sunrise_sunset(lat, lon, date_str, timeout=5):
    """Fetch sunrise and sunset times for a given date/location using Sunrise-Sunset API."""
    try:
        url = "https://api.sunrise-sunset.org/json"
        params = {'lat': lat, 'lng': lon, 'date': date_str, 'formatted': 0}
        response = requests.get(url, params=params, timeout=timeout)
        data = response.json()
        if data['status'] == 'OK':
            return data['results']['sunrise'], data['results']['sunset']
    except requests.Timeout:
        print(f"‚ö†Ô∏è Timeout: Sunrise API took too long for {lat}, {lon}, {date_str}")
    except Exception as e:
        print(f"‚ö†Ô∏è Sunrise API error for {lat}, {lon}, {date_str}: {e}")
    return np.nan, np.nan

# ===============================================
# 2. Load External Fuel Prices Dataset
# ===============================================

# Load the fuel prices dataset
fuel_df = pd.read_csv('fuel_prices.csv', parse_dates=['Date'], dayfirst=True)
fuel_df.rename(columns={'Date': 'date'}, inplace=True)

# Use Diesel prices as fuel_price reference
fuel_df['fuel_price'] = fuel_df['Diesel']

# Create a complete date range and fill missing values
all_dates = pd.DataFrame({'date': pd.date_range(start='2023-01-01', end='2024-12-31')})
fuel_full = pd.merge(all_dates, fuel_df[['date', 'fuel_price']], on='date', how='left')
fuel_full['fuel_price'] = fuel_full['fuel_price'].ffill().bfill()  # Forward & Backward Fill

# ===============================================
# 3. Mall Coordinates Mapping
# ===============================================

mall_coordinates = {
    5:  (48.117, -1.677),    # Rennes Cesson
    10: (48.897, 2.197),     # Montesson
    11: (43.707, 7.265),     # Nice Lingosti√®re
    19: (48.514, -2.750),    # Langueux - Saint-Brieuc
    20: (47.063, -0.877),    # Cholet
    37: (43.492, -1.474),    # Bay 2
    38: (44.837, -0.579),    # BAB2
    47: (43.610, 3.880),     # Claira Salanca
    53: (43.580, 7.125),     # Antibes
    71: (49.564, 3.625)      # Laon
}

# ===============================================
# 4. Retrieve External Data and Merge with Main Dataset
# ===============================================

# Define OpenWeatherMap API Key
weather_api_key = 'cd00a35e9493ad4f037b8b8ee827f1aa'

# Extract unique dates and malls from the dataset
unique_dates = df['date'].drop_duplicates().sort_values().dt.strftime('%Y-%m-%d').tolist()
total_malls = len(df['Mall ID'].unique())
total_dates = len(unique_dates)

external_data = []
start_time = time.time()
counter = 0

for i, mall_id in enumerate(df['Mall ID'].unique(), 1):
    lat, lon = mall_coordinates.get(mall_id, (48.8566, 2.3522))  # Default to Paris if missing
    
    for j, d in enumerate(unique_dates, 1):
        counter += 1

        # Show progress every 100 iterations
        if counter % 100 == 0:
            elapsed_time = time.time() - start_time
            print(f"üìä Processing mall {i}/{total_malls}, date {j}/{total_dates} "
                  f"(Mall ID: {mall_id}, Date: {d}) - Elapsed time: {elapsed_time:.2f}s")

        try:
            # Fetch Weather Data
            avg_temp = get_weather(lat, lon, d, weather_api_key)
            
            # Get Fuel Price for the given date
            fuel_price_arr = fuel_full.loc[fuel_full['date'] == pd.to_datetime(d), 'fuel_price'].values
            fuel_price = fuel_price_arr[0] if len(fuel_price_arr) > 0 else np.nan
            
            # Fetch Sunrise & Sunset Times
            sunrise, sunset = get_sunrise_sunset(lat, lon, d)
            
            external_data.append({
                'Mall ID': mall_id,
                'date': pd.to_datetime(d),
                'avg_temp': avg_temp,
                'fuel_price': fuel_price,
                'sunrise': sunrise,
                'sunset': sunset
            })
        
        except Exception as e:
            print(f"‚ö†Ô∏è Error processing Mall ID {mall_id}, Date {d}: {e}")

        # Save a backup every 500 iterations
        if counter % 500 == 0:
            pd.DataFrame(external_data).to_csv("external_data_backup.csv", index=False)
            print("üíæ Backup saved!")

# Convert to DataFrame
df_external = pd.DataFrame(external_data)
df_external['date'] = pd.to_datetime(df_external['date'])

# Merge with Main Dataset
df_merged = pd.merge(df, df_external, on=['Mall ID', 'date'], how='left')

print("‚úÖ External Data Integration Completed Successfully!")

üìä Processing mall 1/10, date 100/731 (Mall ID: 53, Date: 2023-04-10) - Elapsed time: 77.33s
üìä Processing mall 1/10, date 200/731 (Mall ID: 53, Date: 2023-07-19) - Elapsed time: 154.29s
üìä Processing mall 1/10, date 300/731 (Mall ID: 53, Date: 2023-10-27) - Elapsed time: 233.04s
üìä Processing mall 1/10, date 400/731 (Mall ID: 53, Date: 2024-02-04) - Elapsed time: 312.70s
üìä Processing mall 1/10, date 500/731 (Mall ID: 53, Date: 2024-05-14) - Elapsed time: 393.09s
üíæ Backup saved!
üìä Processing mall 1/10, date 600/731 (Mall ID: 53, Date: 2024-08-22) - Elapsed time: 471.93s
üìä Processing mall 1/10, date 700/731 (Mall ID: 53, Date: 2024-11-30) - Elapsed time: 550.47s
üìä Processing mall 2/10, date 69/731 (Mall ID: 38, Date: 2023-03-10) - Elapsed time: 621.91s
üìä Processing mall 2/10, date 169/731 (Mall ID: 38, Date: 2023-06-18) - Elapsed time: 689.88s
üìä Processing mall 2/10, date 269/731 (Mall ID: 38, Date: 2023-09-26) - Elapsed time: 758.83s
üíæ Backup saved!
üìä Processing mall 2/10, date 369/731 (Mall ID: 38, Date: 2024-01-04) - Elapsed time: 825.40s
üìä Processing mall 2/10, date 469/731 (Mall ID: 38, Date: 2024-04-13) - Elapsed time: 891.61s
üìä Processing mall 2/10, date 569/731 (Mall ID: 38, Date: 2024-07-22) - Elapsed time: 957.38s
üìä Processing mall 2/10, date 669/731 (Mall ID: 38, Date: 2024-10-30) - Elapsed time: 1024.11s
üìä Processing mall 3/10, date 38/731 (Mall ID: 37, Date: 2023-02-07) - Elapsed time: 1089.98s
üíæ Backup saved!
üìä Processing mall 3/10, date 138/731 (Mall ID: 37, Date: 2023-05-18) - Elapsed time: 1157.66s
üìä Processing mall 3/10, date 238/731 (Mall ID: 37, Date: 2023-08-26) - Elapsed time: 1224.10s
üìä Processing mall 3/10, date 338/731 (Mall ID: 37, Date: 2023-12-04) - Elapsed time: 1291.08s
üìä Processing mall 3/10, date 438/731 (Mall ID: 37, Date: 2024-03-13) - Elapsed time: 1357.89s
üìä Processing mall 3/10, date 538/731 (Mall ID: 37, Date: 2024-06-21) - Elapsed time: 1424.88s
üíæ Backup saved!
üìä Processing mall 3/10, date 638/731 (Mall ID: 37, Date: 2024-09-29) - Elapsed time: 1492.21s
üìä Processing mall 4/10, date 7/731 (Mall ID: 5, Date: 2023-01-07) - Elapsed time: 1559.93s
üìä Processing mall 4/10, date 107/731 (Mall ID: 5, Date: 2023-04-17) - Elapsed time: 1626.84s
üìä Processing mall 4/10, date 207/731 (Mall ID: 5, Date: 2023-07-26) - Elapsed time: 1694.02s
üìä Processing mall 4/10, date 307/731 (Mall ID: 5, Date: 2023-11-03) - Elapsed time: 1761.00s
üíæ Backup saved!
üìä Processing mall 4/10, date 407/731 (Mall ID: 5, Date: 2024-02-11) - Elapsed time: 1827.81s
üìä Processing mall 4/10, date 507/731 (Mall ID: 5, Date: 2024-05-21) - Elapsed time: 1895.09s
üìä Processing mall 4/10, date 607/731 (Mall ID: 5, Date: 2024-08-29) - Elapsed time: 1962.52s
üìä Processing mall 4/10, date 707/731 (Mall ID: 5, Date: 2024-12-07) - Elapsed time: 2029.34s
üìä Processing mall 5/10, date 76/731 (Mall ID: 20, Date: 2023-03-17) - Elapsed time: 2096.44s
üíæ Backup saved!
üìä Processing mall 5/10, date 176/731 (Mall ID: 20, Date: 2023-06-25) - Elapsed time: 2163.64s
üìä Processing mall 5/10, date 276/731 (Mall ID: 20, Date: 2023-10-03) - Elapsed time: 2231.53s
üìä Processing mall 5/10, date 376/731 (Mall ID: 20, Date: 2024-01-11) - Elapsed time: 2297.87s
üìä Processing mall 5/10, date 476/731 (Mall ID: 20, Date: 2024-04-20) - Elapsed time: 2364.14s
üìä Processing mall 5/10, date 576/731 (Mall ID: 20, Date: 2024-07-29) - Elapsed time: 2430.12s
üíæ Backup saved!
üìä Processing mall 5/10, date 676/731 (Mall ID: 20, Date: 2024-11-06) - Elapsed time: 2496.70s
üìä Processing mall 6/10, date 45/731 (Mall ID: 71, Date: 2023-02-14) - Elapsed time: 2563.63s
üìä Processing mall 6/10, date 145/731 (Mall ID: 71, Date: 2023-05-25) - Elapsed time: 2630.14s
üìä Processing mall 6/10, date 245/731 (Mall ID: 71, Date: 2023-09-02) - Elapsed time: 2697.21s
üìä Processing mall 6/10, date 345/731 (Mall ID: 71, Date: 2023-12-11) - Elapsed time: 2763.89s
üíæ Backup saved!
üìä Processing mall 6/10, date 445/731 (Mall ID: 71, Date: 2024-03-20) - Elapsed time: 2830.16s
üìä Processing mall 6/10, date 545/731 (Mall ID: 71, Date: 2024-06-28) - Elapsed time: 2896.09s
üìä Processing mall 6/10, date 645/731 (Mall ID: 71, Date: 2024-10-06) - Elapsed time: 2962.32s
üìä Processing mall 7/10, date 14/731 (Mall ID: 10, Date: 2023-01-14) - Elapsed time: 3029.42s
üìä Processing mall 7/10, date 114/731 (Mall ID: 10, Date: 2023-04-24) - Elapsed time: 3096.97s
üíæ Backup saved!
üìä Processing mall 7/10, date 214/731 (Mall ID: 10, Date: 2023-08-02) - Elapsed time: 3165.32s
üìä Processing mall 7/10, date 314/731 (Mall ID: 10, Date: 2023-11-10) - Elapsed time: 3232.52s
üìä Processing mall 7/10, date 414/731 (Mall ID: 10, Date: 2024-02-18) - Elapsed time: 3299.59s
üìä Processing mall 7/10, date 514/731 (Mall ID: 10, Date: 2024-05-28) - Elapsed time: 3366.66s
üìä Processing mall 7/10, date 614/731 (Mall ID: 10, Date: 2024-09-05) - Elapsed time: 3434.54s
üíæ Backup saved!
üìä Processing mall 7/10, date 714/731 (Mall ID: 10, Date: 2024-12-14) - Elapsed time: 3502.13s
üìä Processing mall 8/10, date 83/731 (Mall ID: 11, Date: 2023-03-24) - Elapsed time: 3568.51s
üìä Processing mall 8/10, date 183/731 (Mall ID: 11, Date: 2023-07-02) - Elapsed time: 3635.09s
üìä Processing mall 8/10, date 283/731 (Mall ID: 11, Date: 2023-10-10) - Elapsed time: 3703.01s
üìä Processing mall 8/10, date 383/731 (Mall ID: 11, Date: 2024-01-18) - Elapsed time: 3769.30s
üíæ Backup saved!
üìä Processing mall 8/10, date 483/731 (Mall ID: 11, Date: 2024-04-27) - Elapsed time: 3835.56s
üìä Processing mall 8/10, date 583/731 (Mall ID: 11, Date: 2024-08-05) - Elapsed time: 3904.80s
üìä Processing mall 8/10, date 683/731 (Mall ID: 11, Date: 2024-11-13) - Elapsed time: 3982.50s
üìä Processing mall 9/10, date 52/731 (Mall ID: 47, Date: 2023-02-21) - Elapsed time: 4060.67s
üìä Processing mall 9/10, date 152/731 (Mall ID: 47, Date: 2023-06-01) - Elapsed time: 4139.52s
üíæ Backup saved!
üìä Processing mall 9/10, date 252/731 (Mall ID: 47, Date: 2023-09-09) - Elapsed time: 4219.09s
üìä Processing mall 9/10, date 352/731 (Mall ID: 47, Date: 2023-12-18) - Elapsed time: 4298.34s
üìä Processing mall 9/10, date 452/731 (Mall ID: 47, Date: 2024-03-27) - Elapsed time: 4378.37s
üìä Processing mall 9/10, date 552/731 (Mall ID: 47, Date: 2024-07-05) - Elapsed time: 4458.71s
üìä Processing mall 9/10, date 652/731 (Mall ID: 47, Date: 2024-10-13) - Elapsed time: 4528.78s
üíæ Backup saved!
üìä Processing mall 10/10, date 21/731 (Mall ID: 19, Date: 2023-01-21) - Elapsed time: 4595.40s
üìä Processing mall 10/10, date 121/731 (Mall ID: 19, Date: 2023-05-01) - Elapsed time: 4662.61s
üìä Processing mall 10/10, date 221/731 (Mall ID: 19, Date: 2023-08-09) - Elapsed time: 4728.46s
üìä Processing mall 10/10, date 321/731 (Mall ID: 19, Date: 2023-11-17) - Elapsed time: 4794.52s
üìä Processing mall 10/10, date 421/731 (Mall ID: 19, Date: 2024-02-25) - Elapsed time: 4860.43s
üíæ Backup saved!
üìä Processing mall 10/10, date 521/731 (Mall ID: 19, Date: 2024-06-04) - Elapsed time: 4926.76s
üìä Processing mall 10/10, date 621/731 (Mall ID: 19, Date: 2024-09-12) - Elapsed time: 4992.56s
üìä Processing mall 10/10, date 721/731 (Mall ID: 19, Date: 2024-12-21) - Elapsed time: 5059.24s
‚úÖ External Data Integration Completed Successfully!

In [27]:
df_merged.head()

,Jour,heure,Site,Zone,Entr√©es,Code ensemble immobilier,Mall ID,Ann√©e,Mois,heure_num,...,ds,date,is_open,hour,day_of_week,month,avg_temp,fuel_price,sunrise,sunset
0,2023-01-01,00:00 - 00:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,0.0,...,2023-01-01 00:00:00,2023-01-01,0,0,6,1,NaN,1.767,2023-01-01T07:03:02+00:00,2023-01-01T16:06:50+00:00
1,2023-01-01,01:00 - 01:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,1.0,...,2023-01-01 01:00:00,2023-01-01,0,1,6,1,NaN,1.767,2023-01-01T07:03:02+00:00,2023-01-01T16:06:50+00:00
2,2023-01-01,02:00 - 02:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,2.0,...,2023-01-01 02:00:00,2023-01-01,0,2,6,1,NaN,1.767,2023-01-01T07:03:02+00:00,2023-01-01T16:06:50+00:00
3,2023-01-01,03:00 - 03:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,3.0,...,2023-01-01 03:00:00,2023-01-01,0,3,6,1,NaN,1.767,2023-01-01T07:03:02+00:00,2023-01-01T16:06:50+00:00
4,2023-01-01,04:00 - 04:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,4.0,...,2023-01-01 04:00:00,2023-01-01,0,4,6,1,NaN,1.767,2023-01-01T07:03:02+00:00,2023-01-01T16:06:50+00:00

In [29]:
df_merged.columns

Index(['Jour', 'heure', 'Site', 'Zone', 'Entr√©es', 'Code ensemble immobilier',
       'Mall ID', 'Ann√©e', 'Mois', 'heure_num', 'jour_semaine', 'mois',
       'annee', 'GLA centre (hyper + galerie+ mail) GI',
       'GLA boutiques (hors mail - GI)',
       'Nombre places de parking (Assetbook)',
       'Nombre de boutiques (hors hyper)', 'ALIMENTATION', 'EQ DE LA PERSONNE',
       'EQ DE LA MAISON', 'LOISIRS', 'RESTAURATION', 'SERVICES', 'DIVERS',
       'Centre_x', 'Clef Hyper Carrefour_x', 'FE_2024-11-01', 'FE_2024-12-25',
       'FE_2024-12-22', 'FE_2024-11-24', 'FE_2024-07-28', 'FE_2024-06-30',
       'FE_2025-01-01', 'FE_2024-08-04', 'FE_2024-07-14', 'FE_2024-12-01',
       'FE_2024-12-29', 'FE_2024-08-11', 'FE_2024-12-08', 'FE_2025-01-05',
       'FE_2024-09-01', 'FE_2025-05-01', 'FE_2025-12-25', 'Centre_y',
       'Clef Hyper Carrefour_y', 'OE_2024-11-01', 'OE_2024-11-11',
       'OE_2024-12-01', 'OE_2024-12-08', 'OE_2024-12-15', 'OE_2024-12-22',
       'OE_2024-12-24', 'OE_2024-12-29', 'OE_2024-12-31', 'OE_2025-01-12',
       'OE_2025-04-21', 'OE_2025-05-08', 'OE_2024-05-29', 'OE_2025-06-09',
       'OE_2025-07-14', 'OE_2025-08-15', 'OE_2025-11-01', 'OE_2025-11-11',
       'OE_2025-11-30', 'OE_2025-12-07', 'OE_2025-12-14', 'OE_2025-12-21',
       'OE_2025-12-28', 'OE_2024-12-26', 'OE_2024-08-15', 'Centre', 'H_Lundi',
       'H_Mardi', 'H_Mercredi', 'H_Jeudi', 'H_Vendredi', 'H_Samedi',
       'H_Dimanche', 'ds', 'date', 'is_open', 'hour', 'day_of_week', 'month',
       'avg_temp', 'fuel_price', 'sunrise', 'sunset'],
      dtype='object')

Jour, heure : remplac√©s par la colonne ¬´ ds ¬ª (datetime compl√®te) pour √©viter la redondance.
Site, Zone, Code ensemble immobilier : informations non essentielles ou redondantes, d√©j√† repr√©sent√©es par l‚ÄôID du centre.
Ann√©e, Mois, annee, mois, jour_semaine, heure_num : transform√©es en features (heure, day_of_week, month) extraites de ¬´ ds ¬ª.
GLA centre, GLA boutiques, Nombre places de parking, Nombre de boutiques : constantes par centre, peu informatives pour la pr√©diction dynamique.
FE_ et OE_** : contiennent des infos pr√©cieuses sur les √©v√©nements exceptionnels, mais sont supprim√©es individuellement pour √™tre √©ventuellement fusionn√©es en une seule colonne indiquant un √©v√©nement exceptionnel unique.

In [49]:
import pandas as pd
import numpy as np

# ------------------------------------------------------
# 1. [Optional] Check and handle empty H_Dimanche column
# ------------------------------------------------------
if 'H_Dimanche' in df_merged.columns:
    # Check if all values in H_Dimanche are NaN or empty strings
    all_null_or_empty = df_merged['H_Dimanche'].isnull().all() or (df_merged['H_Dimanche'] == '').all()

    if all_null_or_empty:
        print("Column 'H_Dimanche' is entirely empty. Dropping it.")
        df_merged.drop(columns=['H_Dimanche'], inplace=True)
    else:
        df_merged['H_Dimanche'] = df_merged['H_Dimanche'].fillna('closed')
        print("Filled empty values in 'H_Dimanche' with 'closed'.")

# ------------------------------------------------------
# 2. Identify and remove all FE_ and OE_ columns
# ------------------------------------------------------
fe_cols = [col for col in df_merged.columns if col.startswith('FE_')]
oe_cols = [col for col in df_merged.columns if col.startswith('OE_')]

# Drop FE_ and OE_ columns
df_merged.drop(columns=fe_cols + oe_cols, inplace=True)

# ------------------------------------------------------
# 3. Print result to verify
# ------------------------------------------------------
print("Columns after removing FE_ and OE_:")
print(df_merged.columns)

# Optional: Save the cleaned dataset
df_merged.to_csv("cleaned_dataset.csv", index=False)

Columns after removing FE_ and OE_:
Index(['Jour', 'heure', 'Site', 'Zone', 'Entr√©es', 'Code ensemble immobilier',
       'Mall ID', 'Ann√©e', 'Mois', 'heure_num', 'jour_semaine', 'mois',
       'annee', 'GLA centre (hyper + galerie+ mail) GI',
       'GLA boutiques (hors mail - GI)',
       'Nombre places de parking (Assetbook)',
       'Nombre de boutiques (hors hyper)', 'ALIMENTATION', 'EQ DE LA PERSONNE',
       'EQ DE LA MAISON', 'LOISIRS', 'RESTAURATION', 'SERVICES', 'DIVERS',
       'Centre_x', 'Clef Hyper Carrefour_x', 'Centre_y',
       'Clef Hyper Carrefour_y', 'Centre', 'H_Lundi', 'H_Mardi', 'H_Mercredi',
       'H_Jeudi', 'H_Vendredi', 'H_Samedi', 'ds', 'date', 'is_open', 'hour',
       'day_of_week', 'month', 'avg_temp', 'fuel_price', 'sunrise', 'sunset',
       'exceptional_event_FE', 'exceptional_event_OE'],
      dtype='object')

In [56]:
df_merged.drop(columns=['exceptional_event_OE'], inplace=True)

In [57]:
df_merged.head()

,Jour,heure,Site,Zone,Entr√©es,Code ensemble immobilier,Mall ID,Ann√©e,Mois,heure_num,...,ds,date,is_open,hour,day_of_week,month,avg_temp,fuel_price,sunrise,sunset
0,2023-01-01,00:00 - 00:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,0.0,...,2023-01-01 00:00:00,2023-01-01,0,0,6,1,NaN,1.767,2023-01-01T07:03:02+00:00,2023-01-01T16:06:50+00:00
1,2023-01-01,01:00 - 01:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,1.0,...,2023-01-01 01:00:00,2023-01-01,0,1,6,1,NaN,1.767,2023-01-01T07:03:02+00:00,2023-01-01T16:06:50+00:00
2,2023-01-01,02:00 - 02:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,2.0,...,2023-01-01 02:00:00,2023-01-01,0,2,6,1,NaN,1.767,2023-01-01T07:03:02+00:00,2023-01-01T16:06:50+00:00
3,2023-01-01,03:00 - 03:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,3.0,...,2023-01-01 03:00:00,2023-01-01,0,3,6,1,NaN,1.767,2023-01-01T07:03:02+00:00,2023-01-01T16:06:50+00:00
4,2023-01-01,04:00 - 04:59,Antibes,Centre Commercial,0.0,FB007,53,2023,1,4.0,...,2023-01-01 04:00:00,2023-01-01,0,4,6,1,NaN,1.767,2023-01-01T07:03:02+00:00,2023-01-01T16:06:50+00:00

In [74]:
import pandas as pd
import numpy as np

# ------------------------------------------------------
# 1. Selection des colonnes pour le ML
# ------------------------------------------------------
columns_to_keep = [
    'ds', 'date', 'Entr√©es', 'Mall ID', 'is_open', 'hour',
    'day_of_week', 'month', 'avg_temp', 'fuel_price',
    'sunrise', 'sunset'
]
df_ml = df_merged[columns_to_keep].copy()

# ------------------------------------------------------
# 2. Convert 'ds' to UTC, handling timezone issues
# ------------------------------------------------------
def convert_to_utc(ds):
    """
    Convert a naive timestamp from local Paris time to UTC.
    Handles DST correctly.
    """
    try:
        dt = pd.to_datetime(ds)
        if dt.tzinfo is None:  
            dt = dt.tz_localize(
                'Europe/Paris', ambiguous=True, nonexistent='shift_forward'
            ).tz_convert('UTC')
        return dt
    except Exception as e:
        print(f"Error converting ds to UTC: {e}")
        return np.nan

df_ml['ds'] = df_ml['ds'].apply(convert_to_utc)

# ------------------------------------------------------
# 3. Convert 'sunrise' and 'sunset' to datetime
# ------------------------------------------------------
df_ml['sunrise'] = pd.to_datetime(df_ml['sunrise'], utc=True, errors='coerce')
df_ml['sunset'] = pd.to_datetime(df_ml['sunset'], utc=True, errors='coerce')

# Remove rows with missing sunrise/sunset
df_ml = df_ml.dropna(subset=['sunrise', 'sunset'])

# ------------------------------------------------------
# 4. Adjusting 'ds' to match exact sunrise minutes
# ------------------------------------------------------
def adjust_sunrise_sunset(row):
    """
    Adjusts sunrise and sunset times to match the hour-minute of ds if they are close.
    Ensures sunrise is not missed due to rounding issues.
    """
    try:
        if row['ds'].hour == row['sunrise'].hour and row['ds'].minute < row['sunrise'].minute:
            return row['sunrise']
        return row['ds']
    except Exception as e:
        print(f"Error adjusting ds: {e}")
        return row['ds']

df_ml['ds_adjusted'] = df_ml.apply(adjust_sunrise_sunset, axis=1)

# ------------------------------------------------------
# 5. Create 'sun_up' using adjusted times
# ------------------------------------------------------
def is_sun_up(row):
    """
    Determines if the sun is up using ds_adjusted for comparison.
    """
    try:
        return 1 if row['sunrise'] <= row['ds_adjusted'] <= row['sunset'] else 0
    except Exception as e:
        print(f"Error in is_sun_up: {e}")
        return np.nan

df_ml['sun_up'] = df_ml.apply(is_sun_up, axis=1)

# ------------------------------------------------------
# 6. Cleanup and Rename Columns
# ------------------------------------------------------
df_ml.drop(columns=['ds'], inplace=True)  
df_ml.rename(columns={'ds_adjusted': 'ds'}, inplace=True)  

# ------------------------------------------------------
# 7. Verify the Fix
# ------------------------------------------------------
print("\nUnique values in sun_up:", df_ml['sun_up'].unique())
print("\nSample rows for ds, sunrise, sunset, and sun_up:")
print(df_ml[['ds', 'sunrise', 'sunset', 'sun_up']].query("ds == '2023-01-01 07:00:00+00:00'"))

Unique values in sun_up: [0 1]

Sample rows for ds, sunrise, sunset, and sun_up:
                              ds                   sunrise  \
157904 2023-01-01 07:00:00+00:00 2023-01-01 08:00:59+00:00

                          sunset  sun_up
157904 2023-01-01 16:27:54+00:00       0

In [75]:
import pandas as pd
import numpy as np
import pytz

# ---------------------------
# 1. Check Missing and Unique Values
# ---------------------------
print("Missing values in avg_temp:", df_ml['avg_temp'].isnull().sum())
print("Unique values in avg_temp:", df_ml['avg_temp'].nunique())

print("Missing values in sun_up:", df_ml['sun_up'].isnull().sum())
print("Unique values in sun_up:", df_ml['sun_up'].nunique())


# ---------------------------
# 2. Inspect Sample Rows for Time-Related Columns
# ---------------------------
print("\nSample rows for ds, sunrise, sunset, and sun_up:")
print(df_ml[['ds', 'sunrise', 'sunset', 'sun_up']].head(10))

# 5. Verify sun_up_corrected Results
# ---------------------------
if 'ds_utc' in df_ml_encoded.columns:
    print("\nSample rows for corrected sun_up:")
    print(df_ml[['ds', 'ds_utc', 'sunrise', 'sunset', 'sun_up_corrected']].head(10))
else:
    print("\n‚ö†Ô∏è Cannot display sun_up_corrected because ds_utc was not created.")

Missing values in avg_temp: 175440
Unique values in avg_temp: 0
Missing values in sun_up: 0
Unique values in sun_up: 2

Sample rows for ds, sunrise, sunset, and sun_up:
                         ds                   sunrise  \
0 2022-12-31 23:00:00+00:00 2023-01-01 07:03:02+00:00
1 2023-01-01 00:00:00+00:00 2023-01-01 07:03:02+00:00
2 2023-01-01 01:00:00+00:00 2023-01-01 07:03:02+00:00
3 2023-01-01 02:00:00+00:00 2023-01-01 07:03:02+00:00
4 2023-01-01 03:00:00+00:00 2023-01-01 07:03:02+00:00
5 2023-01-01 04:00:00+00:00 2023-01-01 07:03:02+00:00
6 2023-01-01 05:00:00+00:00 2023-01-01 07:03:02+00:00
7 2023-01-01 06:00:00+00:00 2023-01-01 07:03:02+00:00
8 2023-01-01 07:03:02+00:00 2023-01-01 07:03:02+00:00
9 2023-01-01 08:00:00+00:00 2023-01-01 07:03:02+00:00

                     sunset  sun_up
0 2023-01-01 16:06:50+00:00       0
1 2023-01-01 16:06:50+00:00       0
2 2023-01-01 16:06:50+00:00       0
3 2023-01-01 16:06:50+00:00       0
4 2023-01-01 16:06:50+00:00       0
5 2023-01-01 16:06:50+00:00       0
6 2023-01-01 16:06:50+00:00       0
7 2023-01-01 16:06:50+00:00       0
8 2023-01-01 16:06:50+00:00       1
9 2023-01-01 16:06:50+00:00       1

‚ö†Ô∏è Cannot display sun_up_corrected because ds_utc was not created.

In [76]:
print(df_ml[['ds', 'sunrise', 'sunset', 'sun_up']].query("ds == '2023-01-01 07:00:00+00:00'"))

                              ds                   sunrise  \
157904 2023-01-01 07:00:00+00:00 2023-01-01 08:00:59+00:00

                          sunset  sun_up
157904 2023-01-01 16:27:54+00:00       0

In [78]:
df_ml.columns

Index(['date', 'Entr√©es', 'Mall ID', 'is_open', 'hour', 'day_of_week', 'month',
       'avg_temp', 'fuel_price', 'sunrise', 'sunset', 'ds', 'sun_up'],
      dtype='object')

In [80]:
df_ml.head(10)

,date,Entr√©es,Mall ID,is_open,hour,day_of_week,month,avg_temp,fuel_price,sunrise,sunset,ds,sun_up
0,2023-01-01,0.0,53,0,0,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2022-12-31 23:00:00+00:00,0
1,2023-01-01,0.0,53,0,1,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2023-01-01 00:00:00+00:00,0
2,2023-01-01,0.0,53,0,2,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2023-01-01 01:00:00+00:00,0
3,2023-01-01,0.0,53,0,3,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2023-01-01 02:00:00+00:00,0
4,2023-01-01,0.0,53,0,4,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2023-01-01 03:00:00+00:00,0
5,2023-01-01,0.0,53,0,5,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2023-01-01 04:00:00+00:00,0
6,2023-01-01,0.0,53,0,6,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2023-01-01 05:00:00+00:00,0
7,2023-01-01,0.0,53,0,7,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2023-01-01 06:00:00+00:00,0
8,2023-01-01,0.0,53,0,8,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2023-01-01 07:03:02+00:00,1
9,2023-01-01,0.0,53,0,9,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2023-01-01 08:00:00+00:00,1

s'occuper de FE et OE

In [82]:
import pandas as pd
import numpy as np

# Load the dataset
df_fermetures = pd.read_excel(r"C:\Users\David\Documents\Albert school\Carmila alberton\Data for the CARMILA challenge\Carmila Project\Carmila Project\Data for the CARMILA challenge\4.Fermetures_Exceptionnelles_CC.xlsx")

In [83]:
df_fermetures.head()

,Centre,Mall ID,Clef Hyper Carrefour,0,1,2,3,4,5,6,...,11,12,13,14,15,16,17,18,19,20
0,Centre commercial Carrefour Lescar,2.0,FR0100043,2024-12-25,2025-01-01,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,Centre commercial Carrefour Chambourcy,3.0,FR0107312,2024-11-24,2024-12-25,2025-01-01,2025-01-05,2025-05-01,2025-12-25,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,Centre commercial Carrefour l&#039;Escapade,4.0,FR0100156,2024-11-01,2024-12-25,2025-01-01,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,Centre commercial Carrefour Rennes Cesson,5.0,FR0100522,2024-11-01,2024-11-24,2024-12-01,2024-12-08,2024-12-25,2024-12-29,2025-01-01,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,Centre Commercial Carrefour Douai Flers,6.0,FR0100062,2024-12-25,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [84]:
# Convertir le DataFrame en format long (melt) pour avoir une ligne par date de fermeture
df_fermetures_reorganise = pd.melt(
    df_fermetures,
    id_vars=['Centre', 'Mall ID', 'Clef Hyper Carrefour'],
    value_vars=[i for i in range(21)],  # colonnes 0 √† 20 (en format integer)
    var_name='date_index',
    value_name='date_fermeture'
)

# Convertir les dates en format datetime
df_fermetures_reorganise['date_fermeture'] = pd.to_datetime(df_fermetures_reorganise['date_fermeture'], errors='coerce')

# Supprimer les lignes o√π la date est nulle
df_fermetures_reorganise = df_fermetures_reorganise.dropna(subset=['date_fermeture'])

# Supprimer l'index des dates qui n'est plus n√©cessaire
df_fermetures_reorganise = df_fermetures_reorganise.drop('date_index', axis=1)

# R√©initialiser l'index
df_fermetures_reorganise = df_fermetures_reorganise.reset_index(drop=True)

print("\n=== Dataset r√©organis√© ===")
print(df_fermetures_reorganise.head())
print("\nNombre total de fermetures :", len(df_fermetures_reorganise))

=== Dataset r√©organis√© ===
                                        Centre  Mall ID Clef Hyper Carrefour  \
0           Centre commercial Carrefour Lescar      2.0            FR0100043
1       Centre commercial Carrefour Chambourcy      3.0            FR0107312
2  Centre commercial Carrefour l&#039;Escapade      4.0            FR0100156
3    Centre commercial Carrefour Rennes Cesson      5.0            FR0100522
4      Centre Commercial Carrefour Douai Flers      6.0            FR0100062

  date_fermeture
0     2024-12-25
1     2024-11-24
2     2024-11-01
3     2024-11-01
4     2024-12-25

Nombre total de fermetures : 313

In [85]:
import pandas as pd

def create_fermeture_column(df_ml, df_fermetures):
    # Convertir les IDs au m√™me format (integer) en ignorant les NaN
    df_fermetures = df_fermetures.copy()
    df_fermetures = df_fermetures.dropna(subset=['Mall ID'])
    df_fermetures['Mall ID'] = df_fermetures['Mall ID'].astype(int)
    
    # S‚Äôassurer que les dates sont au bon format
    df_ml_dates = pd.to_datetime(df_ml['date'])
    df_fermetures_dates = pd.to_datetime(df_fermetures['date_fermeture'])
    
    print("\n=== V√©rification des dates ===")
    print("Plage de dates flux:", df_ml_dates.min(), "√†", df_ml_dates.max())
    print("Plage de dates fermetures:", df_fermetures_dates.min(), "√†", df_fermetures_dates.max())
    
    # Filtrer les fermetures pour ne garder que celles qui correspondent √† la plage de dates du flux
    mask_dates = (df_fermetures_dates >= df_ml_dates.min()) & (df_fermetures_dates <= df_ml_dates.max())
    df_fermetures = df_fermetures[mask_dates]
    df_fermetures_dates = df_fermetures_dates[mask_dates]
    
    print("\nNombre de fermetures dans la plage de dates:", len(df_fermetures))
    
    # Cr√©er un DataFrame avec toutes les combinaisons de dates et centres
    df_fermetures_binary = pd.DataFrame({
        'Mall ID': df_ml['Mall ID'],
        'date': df_ml_dates
    })
    
    # Cr√©er une cl√© unique pour le merge en utilisant les dates compl√®tes
    df_fermetures['date_centre'] = df_fermetures_dates.dt.strftime('%Y-%m-%d') + '_' + df_fermetures['Mall ID'].astype(str)
    df_fermetures_binary['date_centre'] = df_fermetures_binary['date'].dt.strftime('%Y-%m-%d') + '_' + df_fermetures_binary['Mall ID'].astype(str)
    
    print("\n=== V√©rification des correspondances ===")
    print("IDs dans flux:", sorted(df_ml['Mall ID'].unique()))
    print("IDs dans fermetures filtr√©es:", sorted(df_fermetures['Mall ID'].unique()))
    
    # V√©rifier les correspondances sp√©cifiques
    common_ids = set(df_ml['Mall ID'].unique()) & set(df_fermetures['Mall ID'].unique())
    print("\nIDs communs:", sorted(common_ids))
    
    # Marquer les fermetures
    matches = df_fermetures_binary['date_centre'].isin(df_fermetures['date_centre'])
    print("\nNombre de correspondances trouv√©es:", matches.sum())
    
    if matches.sum() > 0:
        print("\nExemples de correspondances trouv√©es:")
        matching_keys = df_fermetures_binary[matches]['date_centre'].head()
        print(matching_keys)
    
    return matches.astype(int)

# Cr√©er le nouveau DataFrame avec la colonne de fermeture
df_ml_with_fermetures = df_ml.copy()
df_ml_with_fermetures['fermeture_exceptionnelle'] = create_fermeture_column(df_ml, df_fermetures_reorganise)

print("\n=== R√©sultat final ===")
print("Nombre de fermetures trouv√©es:", df_ml_with_fermetures['fermeture_exceptionnelle'].sum())

# Si nous trouvons des correspondances, affichons quelques exemples
if df_ml_with_fermetures['fermeture_exceptionnelle'].sum() > 0:
    print("\nExemples de fermetures trouv√©es:")
    examples = df_ml_with_fermetures[df_ml_with_fermetures['fermeture_exceptionnelle'] == 1].head()
    print(examples[['date', 'Mall ID', 'fermeture_exceptionnelle']])

=== V√©rification des dates ===
Plage de dates flux: 2023-01-01 00:00:00 √† 2024-12-31 00:00:00
Plage de dates fermetures: 2024-05-01 00:00:00 √† 2025-12-28 00:00:00

Nombre de fermetures dans la plage de dates: 192

=== V√©rification des correspondances ===
IDs dans flux: [5, 10, 11, 19, 20, 37, 38, 47, 53, 71]
IDs dans fermetures filtr√©es: [2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 63, 64, 65, 68, 69, 71, 72, 73, 75, 82, 83, 86, 104, 110, 129]

IDs communs: [5, 10, 11, 19, 37, 38, 47, 53, 71]

Nombre de correspondances trouv√©es: 792

Exemples de correspondances trouv√©es:
17376    2024-12-25_53
17377    2024-12-25_53
17378    2024-12-25_53
17379    2024-12-25_53
17380    2024-12-25_53
Name: date_centre, dtype: object

=== R√©sultat final ===
Nombre de fermetures trouv√©es: 792

Exemples de fermetures trouv√©es:
            date  Mall ID  fermeture_exceptionnelle
17376 2024-12-25       53                         1
17377 2024-12-25       53                         1
17378 2024-12-25       53                         1
17379 2024-12-25       53                         1
17380 2024-12-25       53                         1

In [86]:
df_ml_with_fermetures.head()

,date,Entr√©es,Mall ID,is_open,hour,day_of_week,month,avg_temp,fuel_price,sunrise,sunset,ds,sun_up,fermeture_exceptionnelle
0,2023-01-01,0.0,53,0,0,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2022-12-31 23:00:00+00:00,0,0
1,2023-01-01,0.0,53,0,1,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2023-01-01 00:00:00+00:00,0,0
2,2023-01-01,0.0,53,0,2,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2023-01-01 01:00:00+00:00,0,0
3,2023-01-01,0.0,53,0,3,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2023-01-01 02:00:00+00:00,0,0
4,2023-01-01,0.0,53,0,4,6,1,NaN,1.767,2023-01-01 07:03:02+00:00,2023-01-01 16:06:50+00:00,2023-01-01 03:00:00+00:00,0,0

In [90]:
# Afficher une ligne o√π fermeture_exceptionnelle == 1
fermeture_row = df_ml_with_fermetures[df_ml_with_fermetures['fermeture_exceptionnelle'] == 1].head(1)

# V√©rifier si une ligne a √©t√© trouv√©e
if not fermeture_row.empty:
    print("\n‚úÖ Exemple de fermeture exceptionnelle trouv√©e :")
    print(fermeture_row)
else:
    print("\n‚ö†Ô∏è Aucune fermeture exceptionnelle trouv√©e dans les donn√©es.")

‚úÖ Exemple de fermeture exceptionnelle trouv√©e :
            date  Entr√©es  Mall ID  is_open  hour  day_of_week  month  \
17376 2024-12-25      0.0       53        0     0            2     12

       avg_temp  fuel_price                   sunrise  \
17376       NaN       1.815 2024-12-25 07:01:40+00:00

                         sunset                        ds  sun_up  \
17376 2024-12-25 16:01:54+00:00 2024-12-24 23:00:00+00:00       0

       fermeture_exceptionnelle
17376                         1

In [93]:
# Afficher les valeurs uniques de la colonne fermeture_exceptionnelle
print("Valeurs uniques de fermeture_exceptionnelle:", df_ml_with_fermetures['fermeture_exceptionnelle'].unique())

Valeurs uniques de fermeture_exceptionnelle: [0 1]

In [97]:
# Afficher les noms des colonnes
print("Noms des colonnes du DataFrame:")
print(df_ml_with_fermetures.columns.tolist())

Noms des colonnes du DataFrame:
['date', 'Entr√©es', 'Mall ID', 'is_open', 'hour', 'day_of_week', 'month', 'avg_temp', 'fuel_price', 'sunrise', 'sunset', 'ds', 'sun_up', 'fermeture_exceptionnelle']

In [100]:
print(df_ml_with_fermetures[df_ml_with_fermetures['date'] == '2024-12-25'].iloc[0].to_frame().T)

                      date Entr√©es Mall ID is_open hour day_of_week month  \
17376  2024-12-25 00:00:00     0.0      53       0    0           2    12

      avg_temp fuel_price                    sunrise  \
17376      NaN      1.815  2024-12-25 07:01:40+00:00

                          sunset                         ds sun_up  \
17376  2024-12-25 16:01:54+00:00  2024-12-24 23:00:00+00:00      0

      fermeture_exceptionnelle
17376                        1